<!DOCTYPE html>
<html lang="pt-br" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="click-yes.component.css">
    <title>❤</title>
</head>
<body>
    <main>
        <h1>mim pague uma coxinha</h1>
        <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEJYnk19-jrGFPClIRsq16Ni2KtX-xgqkJkA&s" alt="">
        <div id="buttons">
            <button type="button" id="btn-yes" (click)="coxinhaPaga()">Sim</button>
            <button type="button" id="btn-no" #no>Não</button>
        </div>
    </main>
    <!-- <header class="header">
        <h1 class="text-center">Bora dormir comigo hoje?</h1>
    </header>
    <main>
        <div class="btn-area">
            <button id="btn-yes">Sim</button>
        </div>
        <div class="btn-area">
            <button id="btn-no">Não</button>
        </div>
    </main> -->
</body>
</html>
