<!DOCTYPE html>
<html lang="pt-br" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>default - joaoxn</title>

  <link rel="stylesheet" href="home.component.css" />
</head>

<body id="page-container">
  <header class="header">
    <h1 class="text-center">Lista de Atividades</h1>
  </header>
  <main id="content-wrap">
    <div class="cards">
      <div class="card">
        <img class="icon" src="https://www.oficinadanet.com.br/media/post/25197/330/images.jpg" alt="">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card">
        <img class="icon" src="https://www.oficinadanet.com.br/media/post/25197/330/images.jpg" alt="">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, placeat voluptatem
          veniam vel eaque ea mollitia distinctio tenetur maiores nostrum eius, enim, aliquam voluptatibus commodi
          accusamus rerum nobis at corrupti!</p>
      </div>
      <div class="card">
        <img class="icon" src="https://www.oficinadanet.com.br/media/post/25197/330/images.jpg" alt="">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </main>
  <footer class="footer justify-evenly align-center wrap">
    <p>João Victor de Souza Olivo - Fullstack Web Developer</p>
    <p>Veja meu github: <a href="https://github.com/joaoxn" target="_blank">joaoxn</a></p>
    <div id="footer-bottom" class="direction-row justify-evenly align-center wrap">
      <p class="text-secondary-local small">Fale comigo pelo e-mail: joao_v_olivo&#64;estudante.sesisenai.org.br
        (estudante), jvso&#64;yahoo.com (pessoal)</p>
      <p class="text-secondary-local small">Atividade do curso Fullstack [Education], Web Development - LAB365</p>
    </div>
  </footer>

  <script src="home.component.spec.ts"></script>
</body>

</html>